<div class="page-header">
  <h1>Movie #<%= @movie.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>

  <!--  <dt>Director ID</dt> -->
  <!--  <dd movie.director_id %></dd> -->

  <dt>Image</dt>
  <dd><%= @movie.image_url %></dd>
  
  <p><a href="/movies/destroy" class="btn btn-primary">Delete movie</a></p>

  <p><a href="/movies/edit" class="btn btn-primary">Edit movie</a></p>

</dl>
